/* 노멀라이즈 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */
.row::after {
    clear: both;
    display: block;
    content: "";
}

.cell {
    float: left;
}

.cell-right {

    float: right;
}

.con {
    max-width: 1440px;
    margin: 0 auto;
}

/*모바일*/
.mobile-mode {
    display: none;
}

/*박스 공통 padding-bottom*/
.pad-btm {
    padding-bottom: 62.5%;
}

/*박스 크기*/
.main-area {
    position: relative;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-4-area {
    position: relative;
    width: 50%;
    padding-bottom: 62.5%;
}

.sub-2-area {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.full-area {
    position: relative;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.top,
.btm {
    display: flex;
}

/*박스 안 텍스트*/
.txt-box-wrap {
    position: absolute;
    top: 30px;
    right: 30px;
}

.main-title {
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Prompt', sans-serif;
    color: white;
    text-transform: uppercase;
}

.sub-title {
    font-size: 15px;
    color: white;
}

.btn-box {
    display: block;
    width: 180px;
    height: 45px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 45px;
    opacity: 1;
    transition: 0.5s;
}

.btn-box:hover {
    opacity: 0.5;
}

/*4등분 박스 안 공통*/
.normal-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
}

.hover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
}

.img-wrap:hover > .hover-img {
    opacity: 1;
}

.icon-txt-wrap > .icon {
    position: absolute;
    top: 30px;
    left: 30px;
    transform: scale(1);
    transition: 0.5s;
    cursor: pointer;
}

.icon-txt-wrap > .icon:hover {
    transform: scale(1.5);
    transition: 0.5s;
}

.product-badges {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
}

.price {
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-size: 15px;
    cursor: default;
}

/*모바일 버튼*/
.m-btm {
    display: none;
}

/*커서*/
.img-wrap,
.img-box,
.btn-box,
.product-badges,
.btn,
.logo {
    cursor: pointer;
}

/*모바일 시 띄어쓰기*/
.m {
    display: none;
}

.mm {
    display: none;
}


/* 스타일 */

/*======================header========================*/

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
    transition: 1s;
    z-index: 9;
}

header #header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    overflow: hidden;
}

.logo {
    width: 140px;
    padding-left: 20px;
}

.nav-list {
    display: flex;
}

.nav-list:hover {
    color: #777;
}

.nav-list > li {
    margin-left: 20px;
    font-weight: 600;
    transition: 0.5s;
}

.nav-list > li:hover {
    color: #000;
}

.icon-list {
    display: flex;
    margin-left: auto;
    line-height: 60px;
}

.icon-list > li {
    padding-right: 20px;
}

.icon-list > li > a {
    display: block;
    width: 20px;
}

.icon-list:hover > li > a > svg {
    fill: #777;
}

.icon-list > li:hover > a > svg {
    fill: #000;
}

.icon-list .search-wrap {
    width: 268px;
    background-color: black;
    color: #fff;
    transition: 0.3s;
}

.icon-list .search-wrap .serch-box {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 60px;
    cursor: pointer;
}

.icon-list .search-wrap .serch-box .txt {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.icon-list .search-wrap .serch-box .txt p {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.icon-list .search-wrap .serch-box .serch-icon {
    width: 17px;
    height: 60px;
    margin-left: auto;
}

.icon-list .search-wrap .serch-box .serch-icon svg {
    fill: #fff;
}

/*header.down*/

header.down {
    border-bottom: 1px solid #e5e5e5;
}

header.down #header .icon-list .search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: 1s;
}

header.down #header .icon-list .search-wrap .serch-box {
    width: 100%;
    height: 100%;
    background-color: black;
}

header.down #header .icon-list .search-wrap .serch-box .txt {
    display: none;
    height: 0;
}

header.down #header .icon-list .search-wrap .serch-box .txt p {
    height: 0;
    visibility: hidden;
    opacity: 0;
}

/*======================nav-2-depth-wrap========================*/

.nav-2-depth-wrap {
    position: fixed;
    top: 60px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    z-index: 9;
}

.nav-2-depth-wrap.active {
    opacity: 1;
    visibility: visible;
}

.nav-2-depth-wrap .nav-2-depth {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.nav-2-depth-wrap .nav-2-depth .left-con {
    position: relative;
    width: 50%;
    height: 100%;
}

.nav-2-depth-wrap .nav-2-depth .left-con .list {
    position: absolute;
    height: 100%;
    padding: 50px 0 0 100px;
    background-color: white;
    transform: translatex(-150%);
    visibility: hidden;
    transition: 1s;
}

.nav-2-depth-wrap .nav-2-depth .left-con .list:before {
    display: block;
    content: "";
    position: absolute;
    left: -90%;
    top: 0;
    width: 90%;
    height: 100%;
    background-color: white;
}

.nav-2-depth-wrap .nav-2-depth .left-con .list.active {
    visibility: visible;
    transform: translateX(0);
}

.nav-2-depth-wrap .nav-2-depth .left-con .nav-content ul li {
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}

.nav-2-depth-wrap .nav-2-depth .left-con .nav-rcom {
    margin-top: 30px;
}

.nav-2-depth-wrap .nav-2-depth .left-con .nav-rcom ul {
    display: flex;
    height: 100%;
    padding: 20px 30px 0 30px;
}

.nav-2-depth-wrap .nav-2-depth .left-con .nav-rcom ul li {
    width: 25%;
    padding-right: 10px;
    font-size: 14px;
}

.nav-2-depth-wrap .nav-2-depth .left-con .nav-rcom ul li img {
    width: 100%;
    margin-bottom: 10px;
}

.nav-2-depth-wrap .nav-2-depth .right-con {
    position: relative;
    width: 50%;
    height: 100%;
}

.nav-2-depth-wrap .nav-2-depth .right-con .x-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
}

.nav-2-depth-wrap .nav-2-depth .right-con .x-btn-wrap .x-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.nav-2-depth-wrap .nav-2-depth .right-con .x-btn-wrap .x-btn svg {
    fill: white;
}

/*======================mobile-nav-2-depth-wrap========================*/

.mobile-nav-2-depth-wrap {
    display: none;
}

/*======================sec-summer========================*/

.sec-summer {
    display: flex;
    width: 100%;
    margin-top: 60px;
}

.sec-summer > .left {
    background-image: url(../Converse_files/03_Home_01_Template_1440x1800.jpg);
}

.sec-summer > .left > .txt-box-wrap > .txt-box {
    text-align: right;
}

.sec-summer > .left > .txt-box-wrap > a {
    float: right;
    background: #fff;
    border: 1px solid #000;
}

.sec-summer > .right > .top > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/571891C_571891C_primary.jpg);
}

.sec-summer > .right > .top > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/571891C_571891C_hover.jpg);
}

.sec-summer > .right > .top > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/571919C_571919C_primary.jpg);
}

.sec-summer > .right > .top > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/571919C_571919C_hover.jpg);
}

.sec-summer > .right > .btm > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/571890C_571890C_primary.jpg);
}

.sec-summer > .right > .btm > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/571890C_571890C_hover.jpg);
}

.sec-summer > .right > .btm > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/171894C_171894C_primary.jpg);
}

.sec-summer > .right > .btm > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/171894C_171894C_hover.jpg);
}

/*======================sec-choose========================*/

.sec-choose {
    padding: 60px 0;
}

.sec-choose > .txt-wrap {
    width: 100%;
    height: 100px;
    text-align: center;
}

.sec-choose > .txt-wrap > p:first-child {
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: default;
}

.sec-choose > .txt-wrap > p:last-child {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.sec-choose > .txt-wrap > p:last-child:hover {
    color: #aaa;
}

.sec-choose > .shose-icon-wrap > ul {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
}

.sec-choose > .shose-icon-wrap > ul > li {
    width: 25%;
}

.sec-choose > .shose-icon-wrap > ul > li > a {
    display: block;
    width: 100%;
}

.sec-choose > .shose-icon-wrap > ul > li > a > img {
    width: 100%;
}

.sec-choose > .shose-icon-wrap > ul > li > a > span {
    display: block;
    text-align: center;
}

/*======================sec-summer-02========================*/

.sec-summer-02 {
    display: flex;
    width: 100%;
}

.sec-summer-02 > .left {
    background-image: url(../Converse_files/02_Home_01_Template_1440x1800.jpg);
}

.sec-summer-02 > .left > .txt-box-wrap {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 30px;
    right: auto;
}

.sec-summer-02 > .left > .txt-box-wrap p {
    color: #000;
}

.sec-summer-02 > .left > .txt-box-wrap > a {
    background: #000;
    color: #fff;
    border: 1px solid #000;
}

.sec-summer-02 > .right > .top > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/171215C_171215C_primary.jpg);
}

.sec-summer-02 > .right > .top > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/171215C_171215C_hover.jpg);
}

.sec-summer-02 > .right > .top > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/171214C_171214C_primary.jpg);
}

.sec-summer-02 > .right > .top > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/171214C_171214C_hover.jpg);
}

.sec-summer-02 > .right > .btm > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/150247C_150247C_primary.jpg);
}

.sec-summer-02 > .right > .btm > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/150247C_150247C_hover.jpg);
}

.sec-summer-02 > .right > .btm > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/150249C_150249C_primary.jpg);
}

.sec-summer-02 > .right > .btm > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/150249C_150249C_hover.jpg);
}

/*======================sec-floral========================*/

.sec-floral {
    width: 100%;
}

.sec-floral > .full-area {
    background-image: url(../Converse_files/01_Home_04_Template_1440x900_Big.jpg);
}

.sec-floral > .full-area > .txt-box-wrap {
    position: absolute;
    top: 30px;
    left: 30px;
}

.sec-floral > .full-area > .txt-box-wrap > .txt-box {
    color: white;
}

.sec-floral > .full-area > .txt-box-wrap > .btn-box {
    background-color: #fff;
    border: 1px solid #000;
}

/*======================sec-skid========================*/

.sec-skid {
    width: 100%;
}

.sec-skid > .full-area {
    background-image: url(../Converse_files/01_Home_01_Template_1440x900.jpg);
}

.sec-skid > .full-area > .txt-box-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.sec-skid > .full-area > .txt-box-wrap > .txt-box > .main-title {
    color: #000;
}

.sec-skid > .full-area > .txt-box-wrap > .txt-box > .sub-title {
    color: #000;
}

.sec-skid > .full-area > .txt-box-wrap > .btn-box {
    background-color: #000;
    color: #fff;
}

/*======================sec-jack========================*/

.sec-jack {
    width: 100%;
}

.sec-jack > .full-area {
    background-image: url(../Converse_files/jack.jpg);
}

.sec-jack > .full-area > .txt-box-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.sec-jack > .full-area > .txt-box-wrap > .txt-box > .main-title {
    color: #000;
}

.sec-jack > .full-area > .txt-box-wrap > .txt-box > .sub-title {
    color: #000;
}

.sec-jack > .full-area > .txt-box-wrap > .btn-box {
    background-color: #000;
    color: #fff;
}

/*======================sec-satin========================*/

.sec-satin {
    display: flex;
    width: 100%;
}

.sec-satin > .left {
    background-image: url(../Converse_files/03_Home_01_Template_1440x18002.jpg);
}

.sec-satin > .left > .txt-box-wrap {
    position: absolute;
    top: auto;
    left: 30px;
    bottom: 30px;
    right: auto;
}

.sec-satin > .left > .txt-box-wrap > .btn-box {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.sec-satin > .right > .top {
    background-image: url(../Converse_files/KakaoTalk_20210427_175728510.jpg);
}

.sec-satin > .right > .top > .txt-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.sec-satin > .right > .top:hover > .txt-box {
    visibility: visible;
    opacity: 1;
}

.sec-satin > .right > .top > .txt-box > p {
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.sec-satin > .right > .btm > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/560659C_560659C_primary.jpg);
}

.sec-satin > .right > .btm > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/560659C_560659C_hover.jpg);
}

.sec-satin > .right > .btm > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/03_Home_03_Template_720x900.jpg);
}

/*======================sec-color========================*/

.sec-color {
    display: flex;
    width: 100%;
}

.sec-color > .left > .top > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/01_Home_03_Template_720x900.jpg);
}

.sec-color > .left > .top > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/570788C_570788C_primary.jpg);
}

.sec-color > .left > .top > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/01_Home_03_Template_720x900.jpg);
}

.sec-color > .left > .btm > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/570787C_570787C_primary.jpg);
}

.sec-color > .left > .btm > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/570787C_570787C_hover.jpg);
}

.sec-color > .left > .btm > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/570789C_570789C_primary.jpg);
}

.sec-color > .left > .btm > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/570789C_570789C_hover.jpg);
}

.sec-color > .right {
    background-image: url(../Converse_files/01_Home_01_Template_1440x1800.jpg);
}

.sec-color > .right > .txt-box-wrap {
    position: absolute;
    top: 30px;
    left: 30px;
    right: auto;
}

.sec-color > .right > .txt-box-wrap > .txt-box > .main-title {
    color: #000;
}

.sec-color > .right > .txt-box-wrap > .txt-box > .sub-title {
    color: #000;
}

.sec-color > .right > .txt-box-wrap > .btn-box {
    background-color: #000;
    color: #fff;
}

/*======================sec-miffy========================*/

.sec-miffy {
    display: flex;
    width: 100%;
}

.sec-miffy > .left > .top > .img-wrap > .normal-img {
    background-image: url(../gif/ezgif.com-gif-maker.gif);
}

.sec-miffy > .left > .btm > .left > .img-wrap > .normal-img {
    background-image: url(../Converse_files/171951C_171951C_primary.jpg);
}

.sec-miffy > .left > .btm > .left > .img-wrap > .hover-img {
    background-image: url(../Converse_files/171951C_171951C_hover.jpg);
}

.sec-miffy > .left > .btm > .right > .img-wrap > .normal-img {
    background-image: url(../Converse_files/171851C_171851C_primary.jpg);
}

.sec-miffy > .left > .btm > .right > .img-wrap > .hover-img {
    background-image: url(../Converse_files/171851C_171851C_hover.jpg);
}

.sec-miffy > .right {
    background-image: url(../Converse_files/01_Home_01_Template_1440x18001.jpg);
}

.sec-miffy > .right > .txt-box-wrap {
    text-align: right;
}

.sec-miffy > .right > .txt-box-wrap > .btn-box {
    width: 220px;
    float: right;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

/*======================sec-seasonal========================*/

.sec-seasonal {
    width: 100%;
}

.sec-seasonal > .full-area {
    background-image: url(../Converse_files/02_Home_04_Template_1440x900_Big1-1.jpg);
}

.sec-seasonal > .full-area > .txt-box-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: auto;
    right: auto;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.sec-seasonal > .full-area > .txt-box-wrap > .btn-box {
    background-color: inherit;
    color: #fff;
    border: 1px solid #fff;
}

/*======================sec-community========================*/

.sec-community > .community {
    margin: 60px 0;
}

.sec-community > .community > p {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}

.sec-community > .community > .content {
    width: 100%;
    margin: 40px 0 0 0;
}

.sec-community > .community > .content > .photo-wrap {
    width: 100%;
}

.sec-community > .community > .content > .photo-wrap > .photo {
    position: relative;
    width: calc((100% - 40px) / 4);
    margin: 5px;
    cursor: pointer;
}

.sec-community > .community > .content > .photo-wrap > .photo:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.sec-community > .community > .content > .photo-wrap > .photo > .icon-txt {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding: 10px;
    background: linear-gradient(to bottom,
            rgba(20, 20, 20, 0) 10%,
            rgba(20, 20, 20, 0.25) 25%,
            rgba(20, 20, 20, 0.5) 50%,
            rgba(20, 20, 20, 0.75) 75%,
            rgba(20, 20, 20, 1) 100%);
}

.sec-community > .community > .content > .photo-wrap > .photo > .icon-txt > .icon {
    width: 30px;
    height: 30px;
    background-color: #d4d;
    border-radius: 30px;
}

.sec-community > .community > .content > .photo-wrap > .box1 > .icon-txt > .icon {
    background-image: url(../Converse_files/130196802_1143298939420343_5554564011257711964_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box2 > .icon-txt > .icon {
    background-image: url(../Converse_files/123639079_683150102622108_7101222378830234813_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box3 > .icon-txt > .icon {
    background-image: url(../Converse_files/149605596_273805224162813_7367632835548102151_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box4 > .icon-txt > .icon {
    background-image: url(../Converse_files/161034311_1814717382020992_138372196796474602_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box5 > .icon-txt > .icon {
    background-image: url(../Converse_files/164923913_272464297677995_1327205199054869792_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box6 > .icon-txt > .icon {
    background-image: url(../Converse_files/165604928_273909424229868_6317548692965510491_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box7 > .icon-txt > .icon {
    background-image: url(../Converse_files/119114459_630242547683154_4206053738316174497_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box8 > .icon-txt > .icon {
    background-image: url(../Converse_files/121978018_716283165913291_566922048221444257_n.jpg);
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .photo > .icon-txt > .txt {
    margin-left: 10px;
    color: #fff;
}

.sec-community > .community > .content > .photo-wrap > .photo > .icon-txt > .txt > p:first-child {
    font-size: 14px;
}

.sec-community > .community > .content > .photo-wrap > .photo > .icon-txt > .txt > p:last-child {
    font-size: 12px;
}

.sec-community > .community > .content > .photo-wrap > .box1 {
    background-image: url(../Converse_files/17902985623788367_image.jpg);
    background-position: center;
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box2 {
    background-image: url(../Converse_files/17899702060797540_carousel_1.jpg);
    background-position: center;
    background-size: cover;
}


.sec-community > .community > .content > .photo-wrap > .box3 {
    background-image: url(../Converse_files/164053540_799901347283754_7160863161939278353_n.jpg);
    background-position: center;
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box4 {
    background-image: url(../Converse_files/163596181_517389809654895_4411871136574197866_n.jpg);
    background-position: center;
    background-size: cover;
}


.sec-community > .community > .content > .photo-wrap > .box5 {
    background-image: url(../Converse_files/160575744_448107413170689_4602045960918431299_n.jpg);
    background-position: center;
    background-size: cover;
}


.sec-community > .community > .content > .photo-wrap > .box6 {
    background-image: url(../Converse_files/160249810_117041540403103_1051395633101376684_n.jpg);
    background-position: center;
    background-size: cover;
}

.sec-community > .community > .content > .photo-wrap > .box7 {
    background-image: url(../Converse_files/159099417_338407977597778_3541112415564497962_n.jpg);
    background-position: center;
    background-size: cover;
}


.sec-community > .community > .content > .photo-wrap > .box8 {
    background-image: url(../Converse_files/156368494_2601531170147147_6060726045591500331_n.jpg);
    background-position: center;
    background-size: cover;
}

.sec-community > .community > .content > .btn {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    font-size: 16px;
    color: #bfbfbf;
    text-align: center;
    line-height: 40px;
}

.sec-community > .community > .content > .btn:hover {
    border: 1px solid #bfbfbf;
    background-color: #555;
    color: white;
}

/*======================floting-bar========================*/

.floting-bar {
    z-index: 1;
    position: fixed;
    right: -92.08px;
    bottom: 50px;
    transition: 1s;
}

.floting-bar:hover {
    right: 0;
}

.floting-bar > a {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #000;
    border-radius: 40px 0 0 40px;
    padding-left: 20px;
    padding-right: 10px;
    transition: transform 0.32s cubic-bezier(0.4, 0.9, 0.3, 1),
        -webkit-transform 0.32s cubic-bezier(0.4, 0.9, 0.3, 1);
}

.floting-bar > a > .logo {
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 0 10px 0 0;
    color: #fff;
}

.floting-bar > a > .logo > svg {
    fill: #fff;
}

.floting-bar > a > p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
}

/*======================footer========================*/

footer {
    width: 100%;
}

/*section01-wrap*/

footer > .section01-wrap {
    margin: 60px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

footer > .section01-wrap > .section01 {
    width: 100%;
    height: 100%;
}

footer > .section01-wrap > .section01 > div {
    width: 25%;
    height: 100%;
    min-height: 258px;
    padding: 36px 0 46px;
    text-align: center;
}

footer > .section01-wrap > .section01 > div:nth-child(2) {
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

footer > .section01-wrap > .section01 > div:nth-child(3) {
    border-right: 1px solid #e5e5e5;
}

footer > .section01-wrap > .section01 > div > .icon {
    width: 54px;
    height: 36px;
    margin: 0 auto;
}

footer > .section01-wrap > .section01 > div:last-child > .icon {
    display: flex;
    width: 88px;
}

footer > .section01-wrap > .section01 > .box4 > .icon > div {
    width: 50%;
    height: 100%;
}

footer > .section01-wrap > .section01 > .box2 > .icon > .icon-inner {
    width: 44px;
    margin: 0 auto;
}

footer > .section01-wrap > .section01 > .box4 > .icon > .icon-box01 > .icon-inner {
    width: 10px;
    height: 20px;
    margin: 8px 15px;
}

footer > .section01-wrap > .section01 > .box4 > .icon > .icon-box02 > .icon-inner {
    width: 20px;
    height: 20px;
    margin: 8px 10px;
}

footer > .section01-wrap > .section01 > div > p {
    text-align: center;
}

footer > .section01-wrap > .section01 > div > .title {
    font-size: 16px;
    font-weight: bold;
    margin: 26px 0 0;
}

footer > .section01-wrap > .section01 > div > .txt {
    font-size: 11px;
    color: #757575;
    margin: 7px 20px 0;
}

footer > .section01-wrap > .section01 > div > a {
    display: inline-block;
    margin-top: 24px;
    border-bottom: 1px solid black;
    font-size: 12px;
}

/*section02-wrap*/

footer > .section02-wrap {
    height: 160px;
    border-top: 1px solid #e5e5e5;
}

footer > .section02-wrap > .section02 {
    display: flex;
    width: 100%;
    height: 100%;
}

footer > .section02-wrap > .section02 > div {
    width: 288px;
    height: 100%;
    padding: 30px 0 0 20px;
    border-left: 1px solid #e5e5e5;
}

footer > .section02-wrap > .section02 > div:first-child {
    border: none;
}

footer > .section02-wrap > .section02 > div > p {
    font-size: 14px;
    font-weight: bold;
}

footer > .section02-wrap > .section02 > .box1 > .icon {
    display: flex;
    width: 100px;
    height: 50px;
    margin: 15px 0 15px 0;
    border: 1px solid #e5e5e5;
}

footer > .section02-wrap > .section02 > .box1 > .icon > div {
    width: 50%;
    height: 100%;
}

footer > .section02-wrap > .section02 > .box1 > .icon > div:first-child {
    border-right: 1px solid #e5e5e5;
}

footer > .section02-wrap > .section02 > .box1 > .icon > .left-icon > .icon-box {
    width: 9px;
    margin: 15px auto;
}

footer > .section02-wrap > .section02 > .box1 > .icon > .right-icon > .icon-box {
    width: 14px;
    height: 14px;
    margin: 15px auto;
}

footer > .section02-wrap > .section02 > div > ul {
    margin: 15px 0 15px 0;
}

footer > .section02-wrap > .section02 > div > ul > li {
    font-size: 12px;
    color: #757575;
    line-height: 20px;
    cursor: pointer;
}

footer > .section02-wrap > .section02 > .box4 > ul > li:last-child {
    font-weight: bold;
}

.plus {
    display: none;
}

/*section03-wrap*/

.section03-wrap {
    width: 100%;
    background-color: #000;
}

.section03-wrap > .section03 {
    height: 198px;
    padding: 38px 20px;
}

.section03-wrap > .section03 > .address {
    width: 703px;
    height: auto;
}

.section03-wrap > .section03 > .address > .mobile {
    display: none;
}

.section03-wrap > .section03 > .address > .txt {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    color: #9b9b9b;
    letter-spacing: -.025em;
}

.section03-wrap > .section03 > .address > .txt > span::before {
    display: inline-block;
    content: '';
    width: 1px;
    height: 12px;
    margin: 4px 8px;
    background-color: #353535;
    vertical-align: middle;
}

.section03-wrap > .section03 > .address > .txt > .first::before {
    display: none;
    margin: 0 0;
}

.section03-wrap > .section03 > .address > .txt > span:nth-child(6) {
    color: #fff;
}

.section03-wrap > .section03 > .address > .txt > span:last-child > a {
    color: #fff;
}

.section03-wrap > .section03 > .address > p {
    padding-top: 22px;
    color: #9b9b9b;
    font-size: 12px;
}

.section03-wrap > .section03 > .company {
    width: 30%;
    height: 122px;
}

.section03-wrap > .section03 > .company > p {
    font-size: 12px;
    color: #9b9b9b;
    line-height: 20px;
}

.section03-wrap > .section03 > .company > p:last-child {
    color: #fff;
}

.section03-wrap > .section03 > .icon {
    display: none;
}

.section03-wrap > .section03 > .kr-box {
    display: none;
}










/*======================================여기부터는 반응형입니다.========================================*/
/*=======================================반응형 시작==================================================*/

@media screen and (max-width: 1440px) {

    /*라이브러리*/

    .txt-box-wrap {
        position: absolute;
        top: 2.0833vw;
        right: 2.0833vw;
    }

    .main-title {
        font-size: calc(30px + 1.25*(100vw - 767px)/42.0625);
    }

    .sub-title {
        font-size: calc(12px + 0.25*(100vw - 767px)/42.0625);
    }

    .btn-box {
        font-size: calc(12px + 0.25*(100vw - 767px)/42.0625);
    }

    .icon-txt-wrap > .icon {
        position: absolute;
        top: 2.0833vw;
        left: 2.0833vw;
    }

    .product-badges {
        position: absolute;
        top: 2.0833vw;
        right: 2.0833vw;
        font-size: calc(12px + 0.25*(100vw - 767px)/42.0625);
    }

    .price {
        position: absolute;
        bottom: 2.0833vw;
        left: 2.0833vw;
        font-size: calc(12px + 0.25*(100vw - 767px)/42.0625);
    }

    .m {
        display: block;
    }

    /*======================sec-choose========================*/

    .sec-choose > .shose-icon-wrap > ul {
        max-width: 800px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: bold;
    }

    /*======================sec-summer-02========================*/

    .sec-summer-02 > .left > .txt-box-wrap {
        position: absolute;
        top: auto;
        left: 2.0833vw;
        bottom: 2.0833vw;
        right: auto;
    }

    /*======================sec-floral========================*/

    .sec-floral > .full-area > .txt-box-wrap {
        position: absolute;
        top: 2.0833vw;
        left: 2.0833vw;
    }

    /*======================sec-skid========================*/

    .sec-skid > .full-area > .txt-box-wrap {
        padding-left: 2.0833vw;
    }

    /*======================sec-jack========================*/

    .sec-jack > .full-area > .txt-box-wrap {
        padding-left: 2.0833vw;
    }

    /*======================sec-satin========================*/

    .sec-satin > .left > .txt-box-wrap {
        position: absolute;
        top: auto;
        left: 2.0833vw;
        bottom: 2.0833vw;
        right: auto;
    }

    /*======================sec-color========================*/

    .sec-color > .right > .txt-box-wrap {
        position: absolute;
        top: 2.0833vw;
        left: 2.0833vw;
        right: auto;
    }

    /*======================sec-seasonal========================*/

    .sec-seasonal > .full-area > .txt-box-wrap {
        padding-left: 2.0833vw;
    }

    /*======================footer========================*/

    .section03-wrap > .section03 > .address {
        width: 70%;
        height: auto;
    }

}

@media screen and (max-width: 1024px) {

    /*======================header========================*/

    .icon-list .search-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        transition: 1s;
    }

    .icon-list .search-wrap .serch-box {
        width: 100%;
        height: 100%;
        background-color: black;
    }

    .icon-list .search-wrap .serch-box .txt {
        display: none;
    }

    .icon-list .search-wrap .serch-box .serch-icon {
        font-size: 18px;
    }

    .icon-list .search-wrap .serch-box .serch-icon svg {
        fill: #fff;
    }

    /*======================sec-choose========================*/

    .sec-choose > .shose-icon-wrap > ul {
        max-width: 600px;
        margin: 0 auto;
        font-size: 14px;
        font-weight: bold;
    }

    /*======================sec-community========================*/

    .sec-community > .community {
        margin: 30px 0;
    }

    .sec-community > .community > p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sec-community > .community > .content {
        width: 100%;
        margin: 30px 0 0 0;
    }

    .sec-community > .community > .content > .photo-wrap {
        width: 100%;
        height: auto;
    }

    .sec-community > .community > .content > .photo-wrap > .photo {
        width: calc(100% / 4 - 10px);
        margin: 5px 5px;
        background-color: #ddd;
    }

    /*======================footer========================*/

    footer > .section01-wrap > .section01 > div > .txt {
        margin: 7px 0 0;
    }


    footer > .section01-wrap > .section01 > div:nth-child(2) {
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
    }

    footer > .section01-wrap > .section01 > div:nth-child(3) {
        border-right: 1px solid #e5e5e5;

    }

}

@media screen and (max-width: 768px) {

    /*라이브러리*/

    .mobile-mode {
        display: block;
    }

    .main-area {
        width: 100%;
    }

    .txt-box-wrap {
        position: absolute;
        top: 4.6875vw;
        right: 4.6875vw;
    }

    .main-title {
        font-size: 30px;
    }

    .sub-title {
        font-size: 11px;
    }

    .m-btm {
        display: block;
        width: calc(100% - 44px);
        height: 56px;
        margin: 22px 18px;
        background-color: #000;
        color: #fff;
        text-align: center;
        line-height: 56px;
        transition: 1s;
    }

    .m-btm :hover {
        opacity: 0.5;
    }


    .icon-txt-wrap > .icon {
        position: absolute;
        top: 4.6875vw;
        left: 4.6875vw;
    }

    .product-badges {
        position: absolute;
        top: 4.6875vw;
        right: 4.6875vw;
    }

    .price {
        position: absolute;
        bottom: 4.6875vw;
        left: 4.6875vw;
    }

    .o {
        display: block;
    }

    .m {
        display: none;
    }

    .mm {
        display: block;
    }

    /*======================header========================*/

    #header {
        height: 50px;
        position: relative;
    }

    #header .hamburger-wrap {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        padding: 0 20px;
    }

    #header .hamburger-wrap .hamburger {
        width: 18px;
        height: 18px;
    }

    #header .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 110px;
        float: none;
        padding-left: 0;
        line-height: 50px;
    }

    .nav-list {
        display: none;
    }

    .icon-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 20%;
        height: 100%;
        padding: 0 20px;
    }

    .icon-list {
        line-height: normal;
    }

    .icon-list > li {
        display: none;
    }

    .icon-list > li:nth-child(2) {
        display: block;
        width: 20px;
        padding: 0 0 0 0;
        margin-right: 15px;
    }

    .icon-list > li:nth-child(5) {
        display: block;
        width: 20px;
        padding: 0 0 0 0;
    }

    .icon-list > .search-wrap {
        display: none;
    }

    header.down #header .icon-list .search-wrap {
        display: none;
    }

    /*======================mobile-nav-2-depth-wrap========================*/

    .mobile-nav-2-depth-wrap {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        overflow: auto;
        transition: 1s;
        z-index: 99;
    }

    .mobile-nav-2-depth-wrap {
        -ms-overflow-style: none;
        /* IE and Edge */
        -scrollbar-width: none;
        /* Firefox */
    }

    .mobile-nav-2-depth-wrap::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
    }

    .mobile-nav-2-depth-wrap.active {
        left: 0;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth {
        height: 100%;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .head-wrap {
        position: relative;
        width: 100%;
        height: 52px;
        padding: 17px 16px;
        background-color: inherit;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .head-wrap > .logo {
        width: 40px;
        height: 20px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .head-wrap > a {
        width: 20px;
        height: 20px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .head-wrap > .shopping {
        width: 21px;
        height: 21px;
        margin-left: 15px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .head-wrap > .X-btn {
        width: 18px;
        height: 18px;
        margin-left: 15px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap {
        height: calc(100% - 52px);
        padding-top: 40px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > ul {
        margin-bottom: 40px;
        padding: 0 40px;

    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > ul > li {
        margin-bottom: 15px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > ul > li > a {
        font-size: 30px;
        font-weight: 700;
        line-height: 1;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap {
        margin-bottom: -1px;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap > .item {
        border-top: 1px solid #e5e5e5;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap > .item:last-child {
        border-bottom: 1px solid #e5e5e5;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap > .item > a {
        padding: 18px 30px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        display: block;
        position: relative;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap > .item > a > .icon {
        width: 8px;
        height: 14px;
        float: right;
    }

    .mobile-nav-2-depth-wrap > .mobile-nav-2-depth > .body-wrap > .section-wrap > .item > a > .icon > svg {
        transform: rotate(180deg);
    }

    /*======================sec-summer========================*/

    .sec-summer {
        flex-direction: column;
        width: 100%;
    }

    .sec-summer > .left {
        width: 100%;
        margin-top: -10px;
        padding-bottom: 125%;
    }

    .sec-summer > .left > .txt-box-wrap > .btn-box {
        display: none;
    }

    .sec-summer > .right {
        width: 100%;
    }

    /*======================sec-choose========================*/

    .sec-choose {
        padding: 30px 0;
    }

    .sec-choose > .txt-wrap {
        width: 100%;
        height: 100px;
        text-align: center;
    }

    .sec-choose > .txt-wrap > p:first-child {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .sec-choose > .txt-wrap > p:last-child {
        display: none;
    }

    .sec-choose > .shose-icon-wrap > ul {
        max-width: 900px;
        margin: 0 auto;
        font-size: 16px;
        font-weight: bold;
        margin-top: -40px;
    }

    .sec-choose > .shose-icon-wrap > ul > li {
        width: 25%;
    }

    .sec-choose > .shose-icon-wrap > ul > li > a {
        display: block;
        width: 100%;
    }

    .sec-choose > .shose-icon-wrap > ul > li > a > img {
        width: 100%;
    }

    .sec-choose > .shose-icon-wrap > ul > li > a > span {
        display: block;
        text-align: center;
        font-size: 12px;
        font-weight: 100;
    }

    /*======================sec-summer-02========================*/

    .sec-summer-02 {
        flex-direction: column;
        width: 100%;
    }

    .sec-summer-02 > .left {
        width: 100%;
        padding-bottom: 125%;
    }

    .sec-summer-02 > .left > .txt-box-wrap {
        position: absolute;
        top: auto;
        left: 4.6875vw;
        bottom: 4.6875vw;
        right: auto;
    }

    .sec-summer-02 > .left > .txt-box-wrap > .btn-box {
        display: none;
    }

    .summer-02-wrap > .right-wrap {
        width: 100%;
    }

    /*======================sec-floral========================*/

    .sec-floral > .full-area > .txt-box-wrap {
        position: absolute;
        top: 4.6875vw;
        left: 4.6875vw;
        right: auto;
    }

    .sec-floral > .floral > .txt-box-wrap > .txt-box > .sub-title {
        margin-top: 15px;
    }

    .sec-floral > .full-area > .txt-box-wrap > .btn-box {
        display: none;
    }

    /*======================sec-skid========================*/

    .sec-skid > .full-area > .txt-box-wrap {
        padding-left: 4.6875vw;
    }

    .sec-skid > .full-area > .txt-box-wrap > .btn-box {
        display: none;
    }

    /*======================sec-jack========================*/

    .sec-jack > .full-area > .txt-box-wrap {
        padding-left: 4.6875vw;
    }

    .sec-jack > .full-area > .txt-box-wrap > .btn-box {
        display: none;
    }

    /*======================sec-satin========================*/

    .sec-satin {
        flex-direction: column;
        width: 100%;
    }

    .sec-satin > .left {
        width: 100%;
        padding-bottom: 125%;
    }

    .sec-satin > .left > .txt-box-wrap {
        position: absolute;
        top: auto;
        left: 4.6875vw;
        bottom: 4.6875vw;
        right: auto;
    }

    .sec-satin > .right {
        width: 100%;
    }

    /*======================sec-color========================*/

    .sec-color {
        flex-direction: column;
        width: 100%;
    }

    .sec-color > .right {
        width: 100%;
        padding-bottom: 125%;
    }

    .sec-color > .right > .txt-box-wrap {
        position: absolute;
        top: 4.6875vw;
        left: 4.6875vw;
        right: auto;
    }

    .sec-color > .right > .txt-box-wrap > .btn-box {
        display: none;
    }

    .color-wrap > .right-wrap {
        width: 100%;
    }

    /*======================sec-miffy========================*/

    .sec-miffy {
        flex-direction: column;
        width: 100%;
    }

    .sec-miffy > .right {
        width: 100%;
        padding-bottom: 125%;
    }

    .sec-miffy > .right > .txt-box-wrap > .btn-box {
        display: none;
    }

    /*======================sec-seasonal========================*/

    .sec-seasonal > .full-area > .txt-box-wrap {
        padding-left: 4.6875vw;
    }

    .sec-seasonal > .full-area > .txt-box-wrap > .btn-box {
        display: none;
    }

    /*======================sec-community========================*/

    .sec-community > .community {
        margin: 30px 0;
    }

    .sec-community > .community > p {
        text-align: center;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .sec-community > .community > .content {
        width: 100%;
        margin: 30px 0 0 0;
    }

    .sec-community > .community > .content > .photo-wrap {
        width: 100%;
        height: auto;
    }

    .sec-community > .community > .content > .photo-wrap > .photo {
        width: calc(100% / 2 - 10px);
        margin: 5px 5px;
        background-color: #ddd;
    }

    .sec-community > .community > .content > .photo-wrap > .mobile-x {
        display: none;
    }


    /*======================floting-bar========================*/

    .floting-bar {
        z-index: 1;
        position: fixed;
        right: 0;
        bottom: 16px;
        transition: 1s;
    }

    .floting-bar > a {
        display: flex;
        align-items: center;
        height: 50px;
        background-color: #000;
        border-radius: 25px 0 0 25px;
        padding-left: 15px;
        padding-right: 10px;
        transition: 1s;
    }

    .floting-bar > a > .logo {
        width: 22px;
        height: 22px;
        padding: 0 10px 0 0;
        color: #fff;
    }

    .floting-bar > a > .logo > svg {
        fill: #fff;
    }

    .floting-bar > a > p {
        display: block;
        color: #fff;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
    }

    /*======================footer========================*/
    /*section01-wrap*/

    footer > .section01-wrap {
        margin: 0 0 0;
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
    }

    footer > .section01-wrap > .section01 {
        width: 100%;
        height: 100%;
    }

    footer > .section01-wrap > .section01 > div {
        width: 50%;
        height: 100%;
        min-height: 273px;
        padding: 36px 0 46px;
        text-align: center;
    }

    footer > .section01-wrap > .section01 > div > .txt {
        margin: 7px auto 0 auto;
        padding: 0 12px;
        font-size: 12px;
    }

    footer > .section01-wrap > .section01 > div:nth-child(1) {
        border-right: 1px solid #e5e5e5;
    }


    footer > .section01-wrap > .section01 > div:nth-child(2) {
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    footer > .section01-wrap > .section01 > div:nth-child(3) {
        border-right: 1px solid #e5e5e5;
        border-top: 1px solid #e5e5e5;
    }

    footer > .section01-wrap > .section01 > div:nth-child(4) {
        border-top: 1px solid #e5e5e5;
    }

    footer > .section01-wrap > .section01 > div > .icon {
        width: 54px;
        height: 36px;
        margin: 0 auto;
    }

    footer > .section01-wrap > .section01 > div:last-child > .icon {
        width: 80px;
    }

    footer > .section01-wrap > .section01 > div > a {
        margin-top: auto;
    }

    /*section02-wrap*/

    footer > .section02-wrap {
        height: auto;
        border-top: none;
    }

    .section02-wrap > .section02 > div {
        display: none;
        padding-top: 0;
    }

    .section02-wrap > .section02 > .box5 {
        display: block;
        width: 100%;
        height: auto;
        padding: 0 0 0 0;
    }

    .section02-wrap > .section02 > .box5 > p {
        position: relative;
        padding: 21px;
        font-size: 12px;
        font-weight: 100;
        color: #757575;
        cursor: pointer;
    }

    .section02-wrap > .section02 > .box5 > p > span {
        content: '';
        position: absolute;
        right: 20px;
        top: 50%;
        width: 12px;
        height: 12px;
        transform: translateY(-50%);
        background-size: cover;
    }

    .section02-wrap > .section02 > .box5 > p > span {
        background-image: url(../Converse_files/plus.png);
        transition: all 0.3s;
    }

    .section02-wrap > .section02 > .box5 > p > span.active {
        background-image: url(../Converse_files/minus.png);
        transition: all 0.3s;
    }

    .section02-wrap > .section02 > .box5 > .hide {
        display: none;
        margin: 0 20px 21px;
    }

    .section02-wrap > .section02 > .box5.active > .hide {
        display: block;
        opacity: 1;
    }

    .section02-wrap > .section02 > .box5 > ul > li {
        font-size: 11px;
        color: #000;
    }

    .section02-wrap > .section02 > .box5 > ul > li:last-child {
        margin-top: 10px;
    }

    /*section03-wrap*/

    .section03-wrap {
        height: 379px;
        border-top: 1px solid #e5e5e5;
        background-color: inherit;
    }

    .section03-wrap > .section03 {
        position: relative;
        height: auto;
        padding: 38px 0;
    }

    .section03-wrap > .section03 > .address {
        width: 100%;
        margin: 0 auto;
    }

    .section03-wrap > .section03 > .address > .txt {
        flex-direction: column;
        width: 100%;
        font-size: 11px;
        color: #757575;
        text-align: center;
    }

    .section03-wrap > .section03 > .address > .txt > span {
        margin: 5px 0 0 0;
    }

    .section03-wrap > .section03 > .address > .txt > span::before {
        display: none;
    }

    .section03-wrap > .section03 > .address > .txt > .first::before {
        display: none;
        margin: 0 0;
    }

    .section03-wrap > .section03 > .address > .txt > span:nth-child(6) {
        color: #000;
    }

    .section03-wrap > .section03 > .address > .txt > span:last-child > a {
        color: #000;
    }

    .section03-wrap > .section03 > .address > .txt > span:first-child {
        margin: 0 0 28px;
        font-size: 15px;
        font-weight: bold;
        color: #000;
    }

    .section03-wrap > .section03 > .address > p {
        padding-top: 5px;
        font-size: 11px;
        color: #9b9b9b;
        text-align: center;
    }

    .section03-wrap > .section03 > .address > .mobile {
        display: block;
        margin: 5px 0 0 0;
        font-size: 11px;
        text-align: center;
    }

    .section03-wrap > .section03 > .company {
        display: none;
    }

    .section03-wrap > .section03 > .icon {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 20px;
    }

    .section03-wrap > .section03 > .icon > div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        height: 25px;
        margin: 0 12px;
    }

    .section03-wrap > .section03 > .icon > div > .l-inner {
        width: 8px;
        height: 16px;
    }

    .section03-wrap > .section03 > .icon > div > .r-inner {
        width: 16px;
        height: 16px;
    }

    .section03-wrap > .section03 > .icon > div > a {
        width: 100%;
        height: 100%;
        background-color: #ddd;
    }

    .section03-wrap > .section03 > .kr-box {
        display: flex;
        width: 100%;
        height: 55px;
        background-color: #000;
    }

    .section03-wrap > .section03 > .kr-box > .kr {
        display: flex;
        flex-basis: 50%;
        align-items: center;
        padding: 0 16px;
        color: white;
        cursor: pointer;
    }

    .section03-wrap > .section03 > .kr-box > .kr > .flag-icon {
        width: 18px;
        height: 12px;
        margin-right: 10px;
        background-image: url(../Converse_files/locale-kr.svg);
        background-size: cover;
    }

    .section03-wrap > .section03 > .kr-box > .kr > .lang {
        font-size: 12px;
    }

    .section03-wrap > .section03 > .kr-box > p {
        display: flex;
        flex-basis: 50%;
        align-items: center;
        justify-content: flex-end;
        padding: 0 16px;
        font-size: 11px;
        color: #9b9b9b;
        cursor: pointer;
    }

}

@media screen and (max-width: 320px) {
    footer > .section01-wrap > .section01 > div > .txt {
        margin: 7px 0 0;
        font-size: 11px;
    }

    footer > .section01-wrap > .section01 > div > a {
        margin-top: 10px;
    }

}
